table {
    background-color: rgb(243, 243, 243);
    margin: 50px;
}
h1 {
    margin: 20px;
}
button {
    height: 50px;
    width: 70px;
    margin: 10px;
    border: 1px solid rgb(138, 138, 138);
    font-size: 20px;
}
input { 
    text-align: center;
    font-size: 30px;
}

div.container {
    background-color: rgb(221, 221, 221);
    margin-top: 30px;
}