<div class="container">
    <div class="col-12">
        <div class="row d-flex justify-content-center">
            <h1> Money balance: {{ users[0].money }} </h1>
        </div>
        <div class="row d-flex justify-content-center">
            <button class="btn btn-light" (click)="onClickSubmitRemove(moneyamount.value)"> - </button>
            <input type="number" id="moneyamount" #moneyamount>
            <button class="btn btn-light" (click)="onClickSubmitAdd(moneyamount.value)"> + </button>
        </div>

        <div class="row d-flex justify-content-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Transaction history </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <th scope="row">{{ transaction.money }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>